html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, h1, h2, p, ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  object-fit: cover;
}

body {
  min-block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--neutral-200);
  color: var(--primary-700);
}

:root {
  --neutral-200: #EEF0F4;
  --neutral-100: #FFF;
  --primary-700: #222C48;
  --primary-100: #0177a9;
}

.main {
  margin-block: 1rem;
  padding: 2rem 1.5rem;
  inline-size: clamp(20rem, 90vw, 40.625rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "ttl ttl"
    "par par"
    "inp inp"
    "stt cta"
    "grp grp";
  gap: .5em;
  background-color: var(--neutral-100);
  box-shadow: 0 1rem 1rem hsl(from var(--primary-700) h s l / .1), 0 2rem 1rem hsl(from var(--primary-700) h s l / .1);
  border-radius: .5rem;
}
.ttl {
  grid-area: ttl;
  font-size: 1.3rem;
}
.par {
  grid-area: par;
  max-inline-size: 40ch;
  line-height: 1.5;
}
.inpt-field {
  grid-area: inp;
  margin-block: 1em;
  position: relative;
}
.inpt {
  padding-block: .5em;
  padding-left: 3.2em;
  inline-size: 100%;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  border-radius: .5em;
  border: .1rem solid hsl(from var(--primary-700) h s l / .25);
}
.btn {
  padding: .25em;
  inline-size: 2rem;
  block-size: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}
.sttl {
  grid-area: stt;
  font-size: 1.15rem;
}
.cta {
  grid-area: cta;
  inline-size: max-content;
  justify-self: end;
  text-decoration: none;
  text-align: right;
  color: var(--primary-100);
}
.avatar-group {
  grid-area: grp;
  padding-block: .5em;
  display: flex;
  justify-content: space-between;
  gap: .5em;
  overflow: hidden;
}
.avatar {
  inline-size: 4rem;
  block-size: 4rem;
  border: .1rem solid hsl(from var(--primary-700) h s l / .15);
  border-radius: 50%;
}

*:focus-visible {
  outline: .15em dotted var(--primary-100);
}